/* Profile.css */
.profile-container {
    max-width: 100px;
    margin: 0 auto;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  label {
    display: block;
    margin-bottom: 1px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  